apiVersion: apps/v1
kind: Deployment
metadata:
  name: qillqay-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: qillqay-backend
  template:
    metadata:
      labels:
        app: qillqay-backend
    spec:
      containers:
        - name: qillqay-backend
          image: qillqay:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: qillqay-secrets
                  key: DATABASE_URL
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
